<div class="about">
    <h4>Hi! Thanks for visiting!</h4>
    <h5 class="about-p">This website was created to help you manage your monthly finances.<br />
    Once you create an account you will be all ready to start.<br />
     Once you are logged in, select the "start budgeting a new month" button. You will then be able to add income and expenses for the month selected. Once you add a transaction it will be added to the corresponding table according to transaction date with the total for that months income/expenses under the corresponding table.<br />
     You can add as many month's as you want and switch between them and the tables will fill with that month's transactions.<br />
    When you log back in, you will automatically be shown the latest month. If you want to switch to a different month, just click that month.
    Please note, the delete button for a transaction is not currenlty working.</h5>

    <div > <h4>Coming soon:</h4>
        <ul type="disc">
            <li><strike>Pie charts for each month to catagorize your spendings by catagory for each month.</strike> This is now working!</li>
            <li>Income/expense Comparison chart. To Compare each month's income and expenses against other months.</li>
            <li>Expense Comparison chart. To compare your expenses over muitliple months by catogory.</li>
            <li>Fix the delete button and add a delete button on each expense line</li>
        </ul>
    </div>
</div>